
.form-login-body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(57, 57, 57);
    width: 100%;
    height: 100vh;
}
.form-login-background {
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-login-background-input {
    padding: 10px;
    border: none;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 8px;
    width: 80%;
}
.text-form-login-background {
    font-size: x-large;
    margin-bottom: 10px;
}
.btn-form-login-background {
    padding: 10px;
    margin-bottom: 8px;
    width: 80%;
    background-color: #2fade7;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.background-header-admin {
    background-color: #fff;
    height: 70px;
    display: flex;
}
.navbar-menu-wrapper-icon{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-menu-wrapper {
    width: calc(100% - 70px);
    padding: 0 24px;
}
.navbar-menu-wrapper-icon > img {
    width: 20px;
    max-width: 100%;
    height: 28px;
}
.navbar-menu-wrapper-header{
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(156, 159, 166);
}
.navbar-menu-wrapper-header-icon-and-input{
    padding: 10px;
    border-radius: 12px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.navbar-menu-wrapper-header-input{
    border: none;
    width: 250px;
}
.nav-profile-img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 15px;
}
.navbar-menu-wrapper-header-user{
    margin-left: auto;
}
.navbar-menu-wrapper-header-user-avatar-name {
    display: flex;
    align-items: center;
}