.background-body-item-detail {
  background-color: #fff; /* Light grey background */
  width: 100%;
  padding: 20px 10px; /* Add some padding to the top and bottom */
  border-radius: 10px;
}

.body-item-detail {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Chia grid thành 12 cột */
  gap: 10px; /* Khoảng cách giữa các cột */
  height: auto; /* Let the height adjust based on content */
}

.five-cols {
  height: auto;
  position: relative;
  grid-column: span 5; /* Element spans 5 columns */
  border-radius: 10px; /* Rounded corners */
  text-align: center;
}

.seven-cols {
  grid-column: span 7;
  padding-left: 10px;
}
.img-swiper-item-detail {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
/* CSS cho Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.modal-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5e5e;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background: #ff1c1c;
}
/* CSS cho các nút chuyển ảnh của Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* Màu trắng cho các nút */
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền bán trong suốt */
  padding: 10px; /* Khoảng cách bên trong nút */
  border-radius: 50%; /* Nút hình tròn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển động */
  width: 40px; /* Chiều rộng nút */
  height: 40px; /* Chiều cao nút */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Màu nền khi hover */
  transform: scale(1.1); /* Tăng kích thước khi hover */
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px; /* Kích thước biểu tượng */
}

/* Điều chỉnh vị trí nút nếu cần */
.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền */
  color: white; /* Màu chữ */
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
  color: #ffffff; /* Màu trắng cho các nút */
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền bán trong suốt */
  padding: 10px; /* Khoảng cách bên trong nút */
  border-radius: 50%; /* Nút hình tròn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển động */
  width: 40px; /* Chiều rộng nút */
  height: 40px; /* Chiều cao nút */
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Màu nền khi hover */
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
.slide-container {
  position: relative;
}

.zoom-message {
  position: absolute;
  z-index: 1;
  bottom: 10px; /* Điều chỉnh vị trí dưới cùng */
  right: 10px; /* Điều chỉnh vị trí bên phải */
  background-color: #ff1c1cc5; /* Màu nền */
  color: #e0f7fa;
  padding: 5px 10px; /* Khoảng cách lề */
  border-radius: 5px; /* Góc bo tròn */
  font-size: 12px; /* Kích thước chữ */
}
.image-count {
  position: absolute;
  bottom: 10px; /* Điều chỉnh vị trí dưới cùng */
  left: 10px; /* Điều chỉnh vị trí bên trái */
  color: white; /* Màu chữ */
  font-size: 12px; /* Kích thước chữ */
  background-color: rgba(99, 240, 56, 0.7); /* Màu nền */
  padding: 5px 10px; /* Khoảng cách lề */
  border-radius: 5px; /* Góc bo tròn */
}
.id-nick-game {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.description-id-nick-game {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(254, 226, 226);
  text-transform: uppercase;
}
.card-item-detail {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
.text-price-item-detail {
padding: 10px;
  background-color: #FEE2E2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex; /* Sử dụng flexbox */
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: space-around;
  font-weight: 800;
  font-size: 1.75rem;
  color: rgb(220, 38, 38);
  line-height: 2rem;
}
.text-atm-momo {
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-text-atm-momo {
  display: flex;
  align-items: center;
}
.add-to-card-item-detail {
  width: 30%;
  display: flex; /* Sử dụng flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.icon-add-to-card-item-detail {
  transform: scale(1.5);
}
.information-item-detail {
  width: 100%;
  border-bottom-left-radius:  10px;
  border-bottom-right-radius: 10px;
  height: auto;
  border: solid 1px rgb(229, 229, 229);
}
.background-information-item-detail {
  display: flex;
  border-bottom: solid 1px rgb(229, 229, 229);
}
.background-information-item-detail:last-child {
  border: none;
}
.text-background-information-item-detail {
  width: 25%;
  display: flex;
  padding: 5px 12px;
  color: #000000;
}
.description-background-information-item-detail {
  padding: 5px 12px;
  width: 75%;
  font-weight: bolder;
}
.background-button-buy {
  margin-top: 10px;
  width: 100%;
  height: 46px;
  background-color: #B91C1C;
  border-radius: 10px;
  cursor: pointer;
}
.content-background-button-buy {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text-content-background-button-buy {
  margin-left: 10px;
  font-weight: 500;
  font-size: larger;
}
.small-text{
  font-size: small;
}
@media (max-width: 480px) {
  .body-item-detail {
    grid-template-columns: 1fr;
    height: auto;
  }
  .card-item-detail{

  }
  .background-button-buy{
    width: 100%;
  }
  .description-background-information-item-detail {
    width: 65%;
  }
  .text-background-information-item-detail {
    width: 35%;
  }
  .five-cols,
  .seven-cols {
    grid-column: span 12; /* Mỗi phần tử sẽ chiếm toàn bộ chiều rộng */
    padding-left: 0; /* Loại bỏ padding bên trái cho phần tử .seven-cols */
    padding-right: 0; /* Thêm padding bên phải nếu cần */
    margin-bottom: 10px; /* Khoảng cách giữa các phần tử */
  }
  .text-price-item-detail{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .sale-buy-price{
    font-size: 13px !important;
  }
.text-atm-momo{
  font-weight: 700;
}
.backgground-text-atm-momo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-back {
  width: auto;  
}

}

.background-id-nick-game {
  background-color: #B91C1C;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.id-nick-game {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  
}
.sale-buy-price {
  font-size: 15px;
  text-transform: uppercase;
  color: rgba(220, 38, 38, 0.5);;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sale-buy-price > span {
  text-decoration-line: line-through;
}
